    .form {
        border-style: solid;
        background-color: hsl(46, 81%, 43%);
        margin: 0% 0% 0% 35%;
        height: 100%;
        padding: 20px 100px 100px;
        width: 20%;
        color: rgb(20, 20, 19);
        position: relative;
        top:-610px;
    }
    
    body {
        background-repeat: repeat;
        width: 100%;
        background-color: rgb(153, 189, 107);
    }
    #img{
        width: 450px;height:600px;

    }
    #img2{
        width:400px;
        height:600px;
        position:relative;
        left:910px;
        top:-1210px;
     }

