    .form {
        border-style: solid;
        background-color: #1FE933;
        margin: 5% 0% 0% 35%;
        height: 400px;
        padding: 20px 100px 100px;
        width: 20%;
        color: rgb(20, 20, 19);
    }
    
    body {
        background-image: url ("signup.jpeg"), url("farmsigup.jpeg");
        background-position: left, right;
        background-repeat: no-repeat, no-repeat;
        width: 100%;
        background-color: rgb(153, 189, 107);
    }